@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: grey;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: grey;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;   
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.navbar {
    background-color: black;
    color: white;
    height: 80px;

}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px white solid;
}

.navbar .flex {
    justify-content: space-between;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Img2 {
    width: auto;
    height: 250px;
    padding: 10px 300px;
    display: inline;
}

.img2box {
    display: inline;
    color: white;
    float: right;
    background-color: orange;
    border: 1px solid black;
    width: 170px;   
    text-align: center;
    position: relative;
    right: 250px;
    top: 90px;
    
}

.img2txt {
    color: black;
    display: inline;
    float: right;
    position: relative;
    right: 450px;
}

.img2txt1 {
    color: black;
    display: inline;
    float: right;
    position: relative;
    right: 215px;
    top: 70px;
    
}

.bigtxt {
    color: white;
    
    
}

.Secbox {
    background-color: #f2f5f3;
    border: 1px solid black;
    width: 700px;
    margin: 50px auto;
}

.Sectxt {
    color: black;
    margin: 0 20px;
    font-family: sans-serif;
}

.lineb {
    width: 1000px;
    margin: auto;
}

.toptxt {
    color: white
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
    text-align: center; }

.Featured {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.footerimg {
    width: auto;
    height: 250px;
    position: relative;
    right: 500px;
    top: 50px;
    
}

.Footertxt1 {
    position: relative;
    width: 100px;
    bottom: 95px;
    margin: auto;
    text-align: center;
    line-height: 5px;
       
}

.Footertxt2 {
    position: relative;
    width: 100px;
    left: 170px;
    bottom: 100px;
    margin: auto;
    text-align: center;
    line-height: 5px;
       
}

.Footertxt3 {
    position: relative;
    width: 100px;
    left: 370px;
    bottom: 105px;
    margin: auto;
    text-align: center;
    line-height: 5px;
       
}






 